{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<header class="banner-prin cliente">
</header>
<section class="header-page">
    <div class="center">
        <p>  Já pensou em transformar suas roupas antigas em novos looks? É simples. Nossos clientes tem acesso aos diversos Customizadores próximos à sua casa, basta nos informar seu endereço. Garantimos segurança e sigilo com seus dados.
        </p>
    </div>
</section>
<section class="search">
    <div class="center">
        <div class="left">
            <h2>Encontre sua estilização</h2>
            <form name="form" action="" method="GET">
                <div class="inputs">
                    <input type="text" name="localizacao" placeholder="Localização" value="{{request.GET.localizacao}}">
                    <input type="text" name="tipo" placeholder="Tipo de estilização" value="{{request.GET.tipo}}">
                </div>
                <div class="enviar">
                    <input type="submit" value="Busque alguém">
                </div>
            </form>
        </div>
        <div class="right">
            {% for customizador in customizadores %}
            <div class="customer">
                <div>
                    {% if customizador.tipo == "empresa" %}
                    <img src="../static/images/shop.png" alt="Logo Customizador">
                    {% else %}
                    <img src="../static/images/people.png" alt="Logo Customizador">
                    {% endif %}

                </div>
                <div class="dados">
                    <p>{{ customizador.nome_empresa }}</p>
                    <p>{{ customizador.endereco }}</p>
                    <p>{{ customizador.telefones }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}