{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<header class="banner-prin">
</header>
<section class="header-page">
    <div class="center">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
            theindustry'sstandard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it tomakea type specimen book. It has survived not only five centuries, but also the leap iith the
            release ofLetrasetsheets containing Lo
        </p>
    </div>
</section>
<section class="search">
    <div class="center">
        <div class="left">
            <h2>Encontre sua estilização</h2>
            <form name="form" action="" method="GET">
                <div class="inputs">
                    <input type="text" name="localizacao" placeholder="Localização" value="{{request.GET.localizacao}}">
                    <input type="text" name="tipo" placeholder="Tipo de estilização" value="{{request.GET.tipo}}">
                </div>
                <div class="enviar">
                    <input type="submit" name="enviar" value="Busque alguém">
                </div>
            </form>
        </div>
        <div class="right">
            {% for customizador in customizadores %}
            <div class="customer">
                <div>
                    <img src="../static/images/shop.png" alt="Logo Customizador">
                </div>
                <div class="dados">
                    <p>{{ customizador.nome_empresa }}</p>
                    <p>{{ customizador.endereco }}</p>
                    <p>{{ customizador.telefones }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}