{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

    <header>
        <div class="center">
            <aside>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's
                    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
                    to
                    make
                    a type specimen book. It has survived not only five centuries, but also the leap iith the release of
                    Letraset
                    sheets containing Lo
                </p>
            </aside>
        </div>
    </header>

    <section class="services">
        <div class="center">
            <div class="client">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSd2sL3e-GLPgOxrdZAQvVqqvyviBTGDD7-Bcm-K4HSMHoL2ZSN"
                    alt="">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
                    text
                    of
                    the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </p>
                <a href=""><button class="button-c">Seja cliente</button></a>
            </div>

            <div class="customer">
                <img src="https://www.brotherstore2.com.br/imagens/produtos/SQ9100DV/SQ9100DV/Detalhes6/xmaquina-de-costura-brother-sq9100dv.JPG.pagespeed.ic.CrThWVTKZQ.jpg"
                    alt="">
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
                    text of
                    the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry.
                </p>
                <a href=""><button class="button-f">Seja funcionário</button></a>
            </div>
        </div>
    </section>

    <section>
        <h2>DOE SUA ROUPA</h2>
        <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa POR FAVOR SÓ UMA
            BRUSA</p>
    </section>

{% endblock %}