{% extends 'main.html' %}

{% load staticfiles %}

{% block content %}

<header>
    <div class="center">
        <aside>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it
            </p>
        </aside>
    </div>
</header>

<section class="services">
    <div class="center">
        <div class="client">
            <h2>Contrate serviço</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
                text
                of
                the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </p>
            <a href=""><button class="button-c">Seja cliente</button></a>
        </div>

        <div class="customer">
            <h2>Seja customizador</h2>
            <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy
                text of
                the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting
                industry.
            </p>
            <a href=""><button class="button-f">Seja funcionário</button></a>
        </div>
    </div>
</section>

<section class="donate">
    <div class="center">
        <h2>DOE SUA ROUPA</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eveniet neque quis ullam quisquam ad molestiae facere voluptatum, temporibus, reprehenderit assumenda cumque, in explicabo asperiores rem eaque incidunt laudantium aperiam nam?
        Quos dolore molestias alias sint exercitationem. Repellat recusandae consequuntur, consectetur dolor reprehenderit, quibusdam tempore quos quasi enim labore ab consequatur? Cupiditate inventore optio libero, cumque eos magnam eum consequatur deserunt.
        Consectetur ullam saepe nostrum iure perspiciatis vitae est assumenda, dolores, alias dolorem reiciendis laboriosam ipsam vero quo omnis optio, rem dolorum. Unde culpa optio debitis consequatur eum esse ad eaque?</p>
    </div>
</section>

{% endblock %}