{% load staticfiles %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>OtherFit</title>
</head>
<body>
    {% block content %}
    <!-- Conteúdo virá aqui no meio -->
    <!-- Sempre nesse espaço ele vai receber os outros conteúdos -->
    
    {% endblock %}
    <footer>
        <p>© 2019 OtherFit, Inc.</p>
        <a href="">Sobre nós</a>
        <a href="">Redes sociais</a>
        <a href="">Doe suas Roupas</a>
        <a href="">Contato OtherFit</a>
    </footer>
</body>
</html>