body{
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.center{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

nav{
    grid-area: navbar;
    background-color:rgba(193, 70, 250, 0.459);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav .content{
    display: flex;
    justify-content: space-between;
}
nav a{
    color:white;
    text-decoration: none;
    font-size: 13pt;  
    font-family: 'Cabin', sans-serif;
    margin-left: 10px;
}
nav .logo{
    display: flex;
    justify-content: flex-start;
    height: 100%;
    align-items: center;
}
nav .menu{
    display: flex;
    align-items: center;
}
nav div h1{
    font-family: 'VT323', monospace;
    text-decoration: none;
    color:white;
    font-size: 17pt;
}
nav a:hover{
    color:none;
    text-decoration: underline;
}

header{
    background-image: url("images/banner.jpg");
    background-size: cover;
    height: calc(80vh - 65px);
}
header .center{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
header p{
    margin: 0;
    font-weight: 600;
    text-shadow: 0 0 2px rgba(255, 255, 255, 1);
    font-size: 15pt;
}
header aside{
    width: 40%;
}

.services{
    
}