body {
	margin: 0;
	font-family: "Raleway", sans-serif;
}

.center {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	height: 100%;
}

nav {
	grid-area: navbar;
	background-color: rgba(193, 70, 250, 0.459);
	display: flex;
	justify-content: space-around;
	align-items: center;
}
nav .content {
	display: flex;
	justify-content: space-between;
}
nav a {
	color: white;
	text-decoration: none;
	font-size: 13pt;
	font-family: "Cabin", sans-serif;
	margin-left: 10px;
}
nav .logo {
	display: flex;
	justify-content: flex-start;
	height: 100%;
	align-items: center;
}
nav .menu {
	display: flex;
	align-items: center;
}
nav div h1 {
	font-family: "VT323", monospace;
	text-decoration: none;
	color: white;
	font-size: 17pt;
}
nav a:hover {
	color: none;
	text-decoration: underline;
}

.banner-prin {
	background-image: url("images/banner.jpg");
	background-size: cover;
	height: 400px;
}

.banner-prin.home {
	background-image: url("images/lauren-fleischmann-2.jpg");
	height: calc(100vh - 64px);
}

.banner-prin .center {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 100%;
}
.banner-prin p {
	margin: 0;
	font-weight: 600;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	font-size: 15pt;
	color: #fafafa;
}
.banner-prin aside {
	width: 40%;
}

.services {
	padding: 70px 0;
}

.services .center {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.services .client,
.services .customer {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 45%;
}

.services h2 {
	margin: 0;
}

.services p {
	margin-bottom: 20px;
	text-align: center;
}

.button-c {
	background-color: rgba(193, 70, 250, 0.459);
	color: rgb(0, 0, 0);
	font-size: 17px;
	width: 160px;
	height: 40px;
	border-radius: 20px;
	border: none;
	color: #fff;
	cursor: pointer;
}
.button-f {
	background-color: rgba(193, 70, 250, 0.459);
	color: rgb(0, 0, 0);
	font-size: 17px;
	width: 160px;
	height: 40px;
	border-radius: 20px;
	border: none;
	color: #fff;
	cursor: pointer;
}

.donate {
	margin-bottom: 50px;
}

.donate .center {
	text-align: center;
}

.search {
	margin: 40px 0;
}

.search .center {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.search .center .left,
.search .center .right {
	width: 40%;
	padding: 0 5%;
}

.search .center .right {
	width: calc(40% - 1px);
	height: 300px;
	overflow-y: auto;
	border-left: #586069 1px solid;
}

.search h2 {
	margin-top: 0;
}

.search form {
	width: 100%;
}

.search form input::placeholder {
	font-size: 13pt;
}

.search form input:not([type="submit"]) {
	margin: 0;
	padding: 0;
	padding-left: 10px;
	border: none;
	border-bottom: 1.3px solid #444;
	font-size: 13pt;
	width: calc(45% - 10px);
}

.search .inputs {
	display: flex;
	justify-content: space-between;
}

.search .enviar {
	display: flex;
	justify-content: center;
	margin-top: 35px;
}

.search .enviar input {
	background-color: rgba(193, 70, 250, 0.459);
	font-size: 17px;
	width: 160px;
	height: 40px;
	border-radius: 20px;
	border: none;
	color: #fff;
	cursor: pointer;
}

.search .center .right .customer{
	display: flex;
	align-items: center;
	border-bottom: 1px solid #586069;
}

.search .center .right .customer div:first-child{
	width: 20%;
}

.search .center .right .customer div:first-child img{
	max-width: 90%;
}

.search .center .right .customer div:last-child{
	width: 80%;
}

.new-customizer .center{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.new-customizer h2{
	text-align: center;
}

.new-customizer form {
	width: 80%;
}

.new-customizer form input::placeholder {
	font-size: 13pt;
}

.new-customizer form input:not([type="submit"]) {
	margin: 0;
	padding: 15px 0px 5px 15px;
	border: none;
	border-bottom: 1.3px solid #444;
	font-size: 13pt;
	width: calc(45% - 10px);
	margin-bottom: 25px;
	font-family: "Raleway", sans-serif;
	font-weight: 500;
}

.new-customizer form textarea {
	margin: 0;
	padding: 15px 0px 5px 15px;
	border: none;
	border-bottom: 1.3px solid #444;
	font-size: 13pt;
	width: calc(100% - 10px);
	font-family: "Raleway", sans-serif;
	font-weight: 500;
	margin-bottom: 25px;
}
.new-customizer .inputs {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.new-customizer .enviar {
	display: flex;
	justify-content: center;
	margin-top: 15px;
}

.new-customizer .enviar input {
	background-color: rgba(193, 70, 250, 0.459);
	font-size: 17px;
	width: 160px;
	height: 40px;
	border-radius: 20px;
	border: none;
	color: #fff;
	cursor: pointer;
}

footer {
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgba(193, 70, 250, 0.459);
	padding: 10px 0;
	margin-top: 40px;
}
footer p {
	font-size: 10pt;
	color: #586069;
}
footer a {
	text-decoration: none;
	color: rgb(0, 0, 0);
	font-size: 12pt;
	justify-content: center;
	margin: 0 15px;
}
footer a:hover {
	text-decoration: underline;
}

@media (max-width: 1024px) {
	.center {
		width: 95%;
	}
}

@media (max-width: 768px) {
	header aside {
		width: 100%;
		text-align: center;
	}
	.services {
		padding-bottom: 0;
	}
	.services .center {
		flex-direction: column;
	}
	.services .client,
	.services .customer {
		width: 100%;
		margin-bottom: 20px;
	}
	.search .center .right .customer{
		flex-direction: column;
		justify-content: center;
		padding: 20px 0;
	}
	.search .center .right .customer:last-child{
		border: none;
	}
	.search .center .right .customer div:first-child{
		text-align: center;
	}
	.search .center .right .customer p{
		text-align: center;
	}
	footer {
		flex-direction: column-reverse;
	}
	footer div {
		padding: 13.333px 0;
	}
}

@media (max-width: 640px) {
	.search .center .left,
	.search .center .right {
		width: 90%;
	}
	.search .center .right{
		border:none;
		margin-top: 50px;
	}
	.new-customizer form input:not([type="submit"]){
		width: 100%;
	}
}

@media (max-width: 568px) {
	footer div {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}
